
<div class="container my-5">
    <h2 class="text-center">Гибкий пакет</h2>
    <form>
      {{#each service}}
      <div class="input-group">
        <div  class="form-control" >{{this.title}}</div>
        <div  class="form-control" >{{this.description}}</div>
        <div  class="form-control" >{{this.price}}</div>
        <button class="btn btn-outline-secondary" type="button">-</button>
        <div class="form-control">0</div>
        <button class="btn btn-outline-secondary" type="button">+</button>
      </div> 
      {{/each}}
      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
  </div>
