body {
  background-color:rgb(252, 243, 232);
}

.carousel-item {
  height: 600px;
}

.carousel-item img {
  height: auto;
}

#aboutImg {
  border-radius: 6px;

}

.test-form {
  display: flex;
  justify-content:space-between;
  justify-content: center;
}

.modal-content {
  width: 750px;
}

.service-info {
  width: 350px;
}

#exampleModalLabel {
  justify-content: center;
}

.div-input {
  width: 350px;
}
.deal-info {
  font-weight: 800;
}
